.contact {
  position: relative;
  height: 500px;
  width: 300px;
  left: 0;
}

.message {
  position: relative;
  height: -500px;
  width: 800px;
  right: 0;
}

.p2pBtn {
  display: block;
  position: absolute;
  margin-top: -40em;
  margin-left: 30em
}
