.contact {
  background-color: darkgoldenrod;
  position: relative;
  height: 500px;
  width: 300px;
  left: 0;
}

.message {
  background-color: darkcyan;
  position: relative;
  height: -500px;
  width: 800px;
  right: 0;
}
