.contact {
  position: relative;
  height: 500px;
  width: 300px;
  left: 0;
}

.message {
  position: relative;
  height: -500px;
  width: 800px;
  right: 0;
}

.p2pBtn {
  position: absolute;
  z-index: 1;
  margin-top: 1em;
  margin-left: 45%;
}
