.menulogo {
  margin-top: 0.8em;
  margin-right: 1.7%;
  height: 6em;
}

h1 {
  font-family: 'Amaranth', sans-serif;
}

.mini-title {
  font-family: 'Amaranth', sans-serif;
  font-size: 0.7em;
  margin-bottom: -25px;
}

.pointer {
  cursor: pointer;
}
