<nb-layout>

  <nb-layout-header fixed>
    <img [routerLink]="['']" class="menulogo pointer" src="../assets/image/mainlogopng.png" alt="logo">
    <h1 [routerLink]="['']" class="pointer">BeerToBear</h1>
    <p [routerLink]="['']" class="pointer mini-title">Messenger</p>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>

  </nb-layout-column>

  <nb-layout-footer fixed>
    Contact Us&nbsp;&nbsp;|&nbsp;&nbsp;
    <a routerLink="/footer">Legal Notice</a>
    <nb-toggle class="p2pBtn" status="primary">Switch on P2P Server</nb-toggle>
  </nb-layout-footer>
</nb-layout>
