<nb-layout-column>
  <h1>welcome to BeerToBear Messenger</h1>
  <img src="https://www.google.fr/url?sa=i&source=images&cd=&ved=2ahUKEwirhNLppbnjAhVF6RoKHWh2BcYQjRx6BAgBEAU&url=https%3A%2F%2Ftwitter.com%2Ftonyhanny&psig=AOvVaw38M7wZdwN5GTSDq6D3h6Gu&ust=1563361510103661" alt="temp img">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, tempora?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, quia.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim facere illum impedit modi nihil quia, quo quod veniam. Amet aut beatae maiores maxime officiis porro possimus provident, quis repellat reprehenderit sapiente sed sit ullam. Voluptates!</p>
  <button [routerLink]="['log']" nbButton shape="round" size="medium" status="success">Round Small</button>
</nb-layout-column>
