<nb-layout-column class="center">
  <h2>welcome to BeerToBear Messenger</h2>
  <img class="mainlogo center" src="../../assets/image/mainlogopng.png" alt="mainlogo">
  <p>BeerToBear messenger, le projet de trois étudiants en formation de concepteur développeur d'application à l'école Adrec, Clermont-ferrand, Auvergne, France.</p>
  <p>This application has been studied, developed, carried out and tested by Olivier, Anton and Daviani. We used, for the front office part, Angular, as well as the Nebular library, concerning the back office we use the following technologies (end of the text to be completed) </p>
  <button [routerLink]="['log']" nbButton shape="round" size="medium">Enter in App</button>
</nb-layout-column>
