<h2 class="center-text">Join BeerToBear</h2>
<p class="sub-title center-text">Certainly the best peer-to-peer chat application</p>
<nb-card class="card-class" >
  <nb-card-body class="example-items-col">
    <h4 class="center-text">Create your personal account </h4>
    <p class="center-text">Address email</p>
    <input class="center" type="email" nbInput  shape="round" placeholder="">
    <p class="center-text" >password</p>
    <input class="center" type="password" nbInput  shape="round" placeholder="">
    <p class="center-text" > repeat your password</p>
    <input class="center" type="password" nbInput  shape="round" placeholder="">
  </nb-card-body>
</nb-card>

<button class="center" [routerLink]="['log']" nbButton shape="round" size="medium">Sign in App</button>
